/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font:11pt helvetica,arial,sans-serif;
  line-height:16pt;
  background-color:#96999A;
}

a.thumbnail img {
  display:inline-block;
  padding:10px;
}

img {
  border:none;
}

h1.title a {
  text-decoration:none;
  color:#020202;
}

h1 {
  font-size:16pt;
  font-weight:normal;
  margin:10px 0px;
}

h2 {
  font-size:11pt;
  font-weight:bold;
  margin:8px 0px;
}

h3 {
  font-size:11pt;
  font-weight:bold;
  margin:7px 0px;
}

div.header {
  max-width:600px;
  padding:30px 80px;
  text-align:center;
  margin:30px auto 10px auto;
  background-color:#fefefe;
  display:block;
  overflow:hidden;
}

div.header h1.title {
  margin:10px auto;
  display:block;
  position:relative;
  width:140px;
  text-align:center;
}

.container {
  padding:30px 80px;
  margin: 0 auto;
  max-width:600px;
  position:relative;
  bottom:0px;
  background-color:#fefefe;
}

a:link {
  color:#EB1C25;
}

a:visited {
  color:#EB1C25;
}

p {
  text-align:justify;
  margin:10px 0px;
}

p.meta {
  margin-top:-5px;
  font-size:11pt;
  color:#96999A;
}

p.intro {
  font-style:italic;
}

span.published-date {
  color:#96999A;
  font-family:"Courier New",courier,monospace;
}

#post-list {
  padding:15px;
}

#post-list li {
  list-style: none;
  text-indent: 0;
}

/* palette is http://www.colourlovers.com/palette/1217666/Clown_Face_[CPD] */
