.article-content .highlight {
  background-color:$lightest-grey;
  padding: $small-margin 0;
  // max-width:$max-break-out-page-width;
  margin:0 auto;
  margin-bottom:$standard-margin;

  @media (max-width: 748px) {
    margin-left: -$standard-margin;
    margin-right: -$standard-margin;
    padding-left: $standard-margin;
    padding-right: $standard-margin;
  }
}

code {
  word-wrap: break-word;
}

pre code {
	margin:1.5em 0;
	display:block;
  overflow: scroll;
  font-size:$code-font-size;
}

code.language-html:before, code.language-css:before, code.language-javascript:before, code.language-js:before, code.language-xml:before {
  display:block;
  border-bottom:1px solid #999;
  background:none;
  padding-bottom:0.1em;
  margin-bottom:0.3em;
  color:#999;
}

code.language-css:before {
  content:"CSS";
}

code.language-html:before {
  content:"HTML";
}

code.language-xml:before {
  content:"XML";
}

code.language-javascript:before,code.language-js:before {
  content:"JavaScript";
}