$black:#333333;
$twitter-blue:#55ACEE;
$linkedin-blue:#4875B4;
$white:#fefefe;
$blue:#223249;
$mid-blue:lighten($blue, 15%);
$light-blue:lighten($blue, 30%);
$light-red:#F75A49;
$red:darken($light-red, 30%);
$light-grey:lighten($black, 40%);
$off-white:lighten($black, 70%);
$green:#2CAF34;
$light-green:lighten($green, 30%);