.one-line-form {
	display: flex;

	input {
		display:inline;
		display:inline-block;
		font-size:$medium-font-size;
	}

	input[type=email], input[type=text] {
		font-weight:lighter;
		color:$black;
		text-decoration:none;
		text-align:left;
		border:1px solid $lighter-grey;
		flex:1;
		margin:$small-margin $small-margin $small-margin 0;
	}

	&.small {
		input[type=email], input[type=text] {
			font-size:$standard-font-size;
			border-radius:$standard-border-radius;
			padding:$small-margin $small-margin;
		}
	}
	&.large {
		input[type=email], input[type=text] {
			font-size:$medium-font-size;
			border-radius:$standard-border-radius;
			padding:$standard-margin $small-margin;
		}
	}

	.cta {
		font-size:$standard-font-size;
		padding:$small-margin $standard-margin;
	}
}