.site-title {
	font-size:$site-title-font-size;
	line-height:$site-title-font-size;
	font-weight:500;
	font-family:'Roboto Condensed';
	text-transform:uppercase;
	text-decoration:none;
	color:$main-blue;
	// @include grid-media-query('palm') {
	// 	font-size:1.4em;
	// }
}

.site-subtitle {
	font-size:$standard-font-size;
	text-align:center;
	display:block;
}

h1 {
	font-size:$standard-font-size;
	font-weight:500;
	// @include grid-media-query('palm') {
	// 	font-size:1.4em;
	// }
}
h2 {
	font-size:1.56rem;
	line-height:2rem;
	font-weight:500;
	// @include grid-media-query('palm') {
	// 	font-size:1.1em;
	// }
}
h3 {
	font-size:1.3em;
	font-weight:500;
}