.columns {
	max-width:100%;
	width:$max-centered-page-width * 2;
	display: flex;
	flex-direction:column;
	padding-right:$standard-margin;

	@media (min-width: 769px) {
		flex-direction:row;
	}
}

.content-navigation-column {
	padding-left:$standard-margin;

	max-width:$max-centered-page-width * 0.6;

	@media (min-width: 769px) {
		flex: 1;
		margin-right:$standard-margin;
	}

	&:first-child {
		.cta--primary {
			margin: $large-margin 0 $large-margin 0;
		}
		@media (min-width: 361px) {
			max-width:$max-centered-page-width * 0.4;
			.cta--primary {
				text-align:left;
				margin:$large-margin 0 $large-margin (-$large-margin);
				padding:$standard-margin 0 $standard-margin $large-margin;
				box-sizing:content-box;
				width:$header-cta-width;
				border-top-left-radius:0;
				border-bottom-left-radius:0;
			}
		}
	}
}

#latest-articles-navigation {
	.post-list-item:first-child {
		a:link, a:hover, a:visited {
			display: inline;
			display: flex;
			flex-direction: row;
			&:after {
				content: "New";
				margin-left: 0.5rem;
				text-transform: uppercase;
				font-size: 0.9rem;
				line-height: 1.2rem;
				background-color: #F75A49;
				color: #fefefe;
				border-radius: 0.3rem;
				padding: 0 0.5rem;
				text-decoration: inherit;
				flex: 0 0 0;
				height: 100%;
				align-self: center;
			}
		}
	}
}