.columns {
	max-width:100%;
	width:$max-page-width * 2;
	display: flex;
	flex-direction:column;

	@media (min-width: 769px) {
		flex-direction:row;
	}
}

.content-navigation-column {
	padding-left:$standard-margin;

	max-width:$max-page-width / 2;

	@media (min-width: 769px) {
		flex: 1;
	}

	&:first-child {
		max-width:$max-page-width * 0.4;
		.cta--primary {
			text-align:left;
			margin:$large-margin 0 $large-margin (-$large-margin);
			padding:$standard-margin 0 $standard-margin $large-margin;
			box-sizing:content-box;
			width:$header-cta-width;
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
	}
}

#latest-articles-navigation {
	.post-list-item:first-child {
		a:link, a:hover, a:visited {
			&:after {
				content:'New';
				margin-left:$small-margin;
				text-transform:uppercase;
				font-size:$small-font-size;
				line-height:$standard-font-size;
				background-color:$main-red;
				color:$white;
				border-radius:$standard-border-radius;
				padding:0 $small-margin;
				text-decoration: inherit;
			}
		}
	}
}