@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing($type: "border") {
	/* Acceptable values are border, content, and padding - content is the default W3C model */
	/* Nicked this from https://github.com/timrogers/sass-box-sizing-mixin/blob/master/box-sizing.scss - thanks! */
	box-sizing: #{$type}-box;
	-webkit-box-sizing: #{$type}-box;
	-moz-box-sizing: #{$type}-box;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color, $inset: "") {
	-webkit-box-shadow:#{$inset} $horizontal $vertical $blur $spread $color;
	-moz-box-shadow:#{$inset} $horizontal $vertical $blur $spread $color;
	box-shadow:#{$inset} $horizontal $vertical $blur $spread $color;
}