nav {
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
}

&.nav-list {
	margin-bottom:$standard-margin;
	h2 {
		font-size:$standard-font-size;
		margin:0 0 $standard-margin 0;
	}

	li {
		margin:$small-margin 0;

		&.nav-item--all {
			a {
				text-decoration:underline;
			}
		}
	}

	& + .one-line-form {
		margin-bottom:$small-margin;
	}

	&__item-subtitle {
		color:$grey;
		display:block;
	}

	li a {
		color:$black;
		font-weight:normal;
	}

	&.inline {
		ul {
			line-height:$site-title-font-size;
		}
		li {
			display:inline-block;
			margin:0 $small-margin 0 0;
			line-height:$site-title-font-size;
			vertical-align:middle;

			&:last-child {
				margin-right:0;
			}
		}
	}

	&.grid {
		li {
			a {
				display:block;
				float:left;
				position: relative;
				width:50%;
				padding-bottom:10%;
				overflow:hidden;
				border:1px solid black;
				text-align: center;
				padding-top:10%;
				min-height:12rem;
			}
		}
	}
}

&.nav-list--icons {
	@extend .nav-list;

	display:inline-block;

	margin:0 $standard-margin;

	text-align: center;

	height:$nav-icon-font-size;
	line-height:$nav-icon-font-size;

	li {
		display:inline-block;
		height:$nav-icon-font-size;
		line-height:$site-title-font-size;

		margin:0 $small-margin;

		&:first-child {
			margin-left:0;
		}

		&:last-child {
			margin-right:0;
		}
	}
	li a {
		font-size:$nav-icon-font-size;
		font-weight:normal;
	}

	@media (max-width: 515px) {
		margin-right:0;
	}

	.nav-list--icons__twitter {
		color:$twitter-blue;
	}

	.nav-list--icons__github {
		color:$black;
	}

	.nav-list--icons__email {
		color:$main-red;
	}
}

a:link.cta, a:visited.cta, .cta {
	font-weight:normal;
	color:$white;
	text-decoration:none;
	font-size:$medium-font-size;
	border-radius:$standard-border-radius;
	border:none;
	margin:$small-margin 0;
	padding:$standard-margin $large-margin;
	display:block;
	text-align:center;

	&.inline {
		display:inline-block;
		@media (max-width: 320px) {
			display:block;
		}

		& + .inline {
			margin-left:$small-margin;
		}
	}

	&--primary {
		@extend .cta;
		background:$main-green;
	}

	&--secondary {
		@extend .cta;
		background:$main-blue;
	}

	&--tertiary {
		@extend .cta;
		color:$black;
		background:$white;
		border:1px solid $lighter-grey;
	}

	&.square-padding {
		padding:$standard-margin $standard-margin;
	}
}

.post-navigation {
	@media (max-width: 748px) {
		padding-right:$standard-margin;
		padding-left:$standard-margin;
	}
}