.article {
	&-content p,
	&-content header,
	&-content ul,
	&-content h1,
	&-content h2,
	&-content h3,
	&-content ol,
	&-content code,
	&-content blockquote,
	&-footer-content {
		max-width:$max-page-width;
		margin:0 auto;
		margin-bottom:$standard-margin;
	}

	&-content header {
		padding:0;
	}

	&-content header {
		border-bottom:none;
	}

	&-content {
		.center {
			margin:$standard-margin auto $large-margin auto;
			max-width:$max-break-out-page-width;

			img {
				width:100%;
				margin:0;
			}

			figcaption {
				text-align: center;
				font-size:$small-font-size;
			}
		}
	}

	&-content blockquote + .center {
		margin:$large-margin auto $large-margin auto;
	}

	h1 {
		margin-bottom:0;
	}

	&-footer {
		padding-top:$standard-margin;
		background-color:$lightest-grey;
		width:100%;
		&-contact {
			padding-right:$standard-margin;
			@media (max-width: 748px) {
				margin-bottom:$standard-margin;
				padding-right:0;
			}
			@media (max-width: 1000px) {
				padding-right:0;
			}
		}
		&-contact, &-subscribe {
			width:50%;
			float:left;
			@media (max-width: 1000px) {
				width:100%;
				float:none;
			}
			@media (max-width: 748px) {
				padding-right:$standard-margin;
				padding-left:$standard-margin;
			}
		}
		&-meta {
			width:100%;
			clear:both;
			@media (max-width: 748px) {
				padding-right:$standard-margin;
				padding-left:$standard-margin;
			}
		}
	}
}

.post-comments {
	margin:1rem auto;
}

.meta {
	font-size:$small-font-size;
	margin-top:0;
	margin-bottom:$standard-margin;
}