.article {
	&-content p,
	&-content section,
	&-content header,
	&-content ul,
	&-content h1,
	&-content h2,
	&-content h3,
	&-content ol,
	&-content code,
	&-content blockquote,
	&-footer-content {
		max-width:$max-centered-page-width;
		margin:0 auto;
		margin-bottom:$standard-margin;
	}

	&-content header {
		padding:0;
	}

	&-content header {
		border-bottom:none;
	}

	&-content {
		.center {
			margin:$large-margin auto $large-margin auto;
			max-width:$max-break-out-page-width;

			@media (max-width: 748px) {
				margin-left: -$standard-margin;
				margin-right: -$standard-margin;
			}

			img {
				width:100%;
				margin:0;
			}

			figcaption {
				text-align: center;
				font-size:$small-font-size;
			}
		}

		.pull-right {
			float:right;
			margin:$standard-margin -15% $standard-margin $standard-margin;
			@media (max-width: 960px) {
				margin:$standard-margin 0 $standard-margin $standard-margin;
			}

			@media (max-width: 748px) {
				float:none;
			}
		}

		.pull-left {
			float:left;
			margin:$standard-margin $standard-margin $standard-margin 15%;
			@media (max-width: 960px) {
				margin:$standard-margin $standard-margin $standard-margin 0;
			}
		}

		.pull-right,.pull-left {
			max-width:$max-pull-out-width;
			font-size:$small-font-size;
			color:$grey;

			h3 {
				border-bottom:1px solid $grey;
				margin-bottom:$small-margin;
				padding-bottom:$small-margin;
			}

			img {
				width:100%;
			}
		}

		blockquote.large.center {
			font-style:italic;
			border:none;
			text-align:center;
			font-size:$large-font-size;
		}
	}

	&-content blockquote + .center {
		margin:$large-margin auto $large-margin auto;
	}

	h1 {
		// margin-bottom:0;
		margin-bottom: 1rem;
	}

	.meta {
		font-size:$small-font-size;
		margin-top:0;
		margin-bottom:$standard-margin;

		&-reading-time {
			color:$lighter-grey;
			font-size:$smaller-font-size;
		}
	}

	h1 + .meta, h2 + .meta {
		margin-top:-1rem;
	}

	&-footer {
		padding-top:$standard-margin;
		background-color:$lightest-grey;
		width:100%;
		&-contact {
			padding-right:$standard-margin;
			@media (max-width: 748px) {
				margin-bottom:$standard-margin;
				padding-right:0;
			}
			@media (max-width: 1000px) {
				padding-right:0;
			}
		}
		&-contact, &-subscribe {
			width:50%;
			float:left;
			@media (max-width: 1000px) {
				width:100%;
				float:none;
			}
			@media (max-width: 748px) {
				padding-right:$standard-margin;
				padding-left:$standard-margin;
			}
		}
		&-meta {
			width:100%;
			clear:both;
			@media (max-width: 748px) {
				padding-right:$standard-margin;
				padding-left:$standard-margin;
			}
		}
	}
}

.post-comments {
	margin:1rem auto;
}