* {
	box-sizing:border-box;
}

html {
	font-size:$standard-font-size;
	font-family:'Roboto';
}

body {
	max-width:1100px;
}

header {
	width: 350px;
}

main, .secondary-homepage-navigation {
	width: 33%;
}

header, main, .secondary-homepage-navigation {
	padding-top:$standard-margin;
	padding-left:$large-margin;
	float:left;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// body {
// 	margin:24px 0;
// 	padding:0;
// 	padding-right:$standard-margin;
// 	// max-width:$max-page-width;
// 	font-size:$standard-font-size;
// 	line-height:$standard-line-height;
// 	color:$black;
// 	font-family:'Roboto', sans-serif;
// 	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
// 	& > header, & > main, & > footer, & > section, & > div {
// 		& > section, & > article, & > div {
// 			@extend .grid;

// 			max-width:$max-page-width;
// 			margin:0 auto;
// 		}
// 	}
// }

// hr {
// 	height: 1px;
// 	border: none;
// 	background-color: #ddd;
// }

// a:link {
// 	color:$light-blue;
// }
// a:visited {
// 	color:$mid-blue;
// }

// .hero {
// 	& > div {
// 		@extend .grid;
// 		max-width:$max-page-width;
// 		margin:$standard-margin auto 0 auto;
// 	}

// 	.intro {
// 		line-height:28px;
// 	}

// 	.button {
// 		width:100%;
// 		margin-bottom:$standard-margin / 2;

// 		text-decoration:none;

// 		&:last-child {
// 			float:right;
// 		}
// 	}
// }

// input[type=text], input[type=email] {
// 	@include box-sizing("border");
// 	@include border-radius($standard-margin / 8);
// 	padding:$standard-margin / 2;
// 	border:1px solid $light-grey;
// }

// .button {
// 	@include box-sizing("border");
// 	@include border-radius($standard-margin / 8);
// 	text-align:center;
// 	display:inline-block;
// 	padding:$standard-margin / 2;
// 	border:none;
// 	background-color:$light-grey;
// 	color:$white;
// 	text-decoration: none;

// 	&:link, &:visited {
// 		color:$white;
// 	}

// 	@include transition(color, 0.2s, ease-in-out);
// 	@include transition(background-color, 0.2s, ease-in-out);
// 	@include transition(box-shadow, 0.2s, ease-in-out);
// 	@include box-shadow(0px, -1px, 0px, 0px, transparentize($black, 0.7), "inset");

// 	&:hover {
// 		// background-color:$blue;
// 		@include transition(color, 0.2s, ease-in-out);
// 		@include transition(box-shadow, 0.2s, ease-in-out);
// 		@include box-shadow(0px, -3px, 0px, 0px, transparentize($black, 0.7), "inset");
// 	}
// }

// .button-projects {
// 	background-color:$light-blue;
// 	color:$white;
// 	// -webkit-text-stroke: 0px;
// }

// .button-work-with-me {
// 	background-color:$light-red;
// 	color:$white;
// 	// -webkit-text-stroke: 0px;
// }

// .button-product {
// 	background-color:$green;
// 	color:$white;
// 	// -webkit-text-stroke: 0px;
// 	text-decoration:none;

// 	.left {
// 		border-right: 1px solid white;
// 		padding-right: 1rem;
// 		margin-right: 1rem;
// 		display: inline-block;
// 	}

// 	.right {
// 		display: inline-block;
// 	}
// }

// .button-get-in-touch {
// 	background-color:$light-red;
// 	color:$white;
// 	// -webkit-text-stroke: 0px;
// 	width:100%;
// }

// .button-cta {
// 	background-color:$green;
// 	color:$white;
// 	// -webkit-text-stroke: 0px;
// 	width:100%;
// }

// body > main {
// 	margin-top:$standard-margin;
// }

// .grid__item > *:first-child {
// 	margin-top:0;
// }

// blockquote {
// 	border-left:($standard-margin / 2) solid $off-white;
// 	margin-left:0;
// 	padding-left:$standard-margin;
// }

// .custom-list {
// 	list-style:none;
// 	padding-left:0;
// 	margin-left:0;
// 	li {
// 		text-indent:0;
// 		margin-left:0;
// 		margin-bottom:$standard-margin / 4;
// 		list-style:inherit;
// 	}
// }


// .see-also-list {
// 	@extend .custom-list;

// 	font-size:1.4em;

// 	a:link {
// 		text-decoration:none;
// 	}

// 	.see-also-list-item {
// 		display:block;
// 		margin-bottom:$standard-margin;

// 		&.see-cv {
// 			.title, .icon {
// 				color:$light-red;
// 				-webkit-text-stroke: 0;
// 			}
// 		}

// 		&.see-music {
// 			.title, .icon {
// 				color:$light-blue;
// 				-webkit-text-stroke: 0;
// 			}
// 		}

// 		&.see-art {
// 			.title, .icon {
// 				color:$green;
// 				-webkit-text-stroke: 0;
// 			}
// 		}

// 		.icon {
// 			font-size:2em;
// 			display:block;
// 			margin-right:$standard-margin;
// 			width:50px;
// 			height:50px;
// 			float:left;
// 		}

// 		.title {
// 			display:block;
// 			font-size:1.1em;
// 			text-align:right;
// 		}

// 		.subtitle {
// 			display:block;
// 			color:$light-grey;
// 			-webkit-text-stroke: 0;
// 			font-size:0.7em;
// 			text-align:right;
// 		}
// 	}
// }