// Fixed sizes
$smartphone-root-font-size:14px;
$root-font-size:16px;

// Font sizes
$standard-font-size:1rem;
$large-font-size:1.57rem;
$page-title-font-size:1.8rem;
$site-title-font-size:3.17rem;
$nav-icon-font-size:3.72rem;

// Margins/padding
$small-margin:0.6rem;
$standard-margin:1.2rem;
$large-margin:2.4rem;
$gutter:$standard-margin;

// Widths
$header-width:18.75rem;
$header-cta-width:100%;
$max-page-width:68.75rem;

// Border
$standard-border-radius:0.5rem;