// Fixed sizes
$smartphone-root-font-size:14px;
$root-font-size:18px;

// Font sizes
$small-font-size:0.9rem;
$standard-font-size:1rem;
$medium-font-size:1.05rem;
$code-font-size:0.8rem;
$large-font-size:1.57rem;
$page-title-font-size:1.8rem;
$site-title-font-size:1.6rem;
$site-title-line-height:1.8rem;
$nav-icon-font-size:1.81rem;

// Margins/padding
$small-margin:0.5rem;
$standard-margin:1rem;
$large-margin:2rem;

// Widths
$header-width:16rem;
$header-cta-width:100%;
$max-centered-page-width:730px;
$max-break-out-page-width:50rem;

// Border
$standard-border-radius:0.3rem;