$small-margin:0.5rem;
$standard-margin:1rem;
$large-margin:2rem;
$gutter:$standard-margin;

$standard-font-size:20px;
$large-font-size:1.57rem;
$site-title-font-size:3.17rem;
$nav-icon-font-size:3.72rem;

$standard-line-height:20pt;
$max-page-width:848px;

$header-font-size-lap:2.6em;