/* VARIABLES */
$standard-margin:24px;
$gutter:$standard-margin;
$standard-font-size:14pt;
$large-font-size:1.7em;
$standard-line-height:20pt;
$black:#333333;
$twitter-blue:#55ACEE;
$linkedin-blue:#4875B4;
$white:#fefefe;
$blue:#223249;
$mid-blue:lighten($blue, 15%);
$light-blue:lighten($blue, 30%);

$light-red:#F75A49;
$red:darken($light-red, 30%);

$off-white:lighten($light-blue, 10%);

$light-grey:lighten($black, 40%);

$green:#2CAF34;
$light-green:lighten($green, 30%);

@import "normalize";
@import "font-awesome/font-awesome";
@import "csswizardry-grids";
@import "mixins.scss";

body {
	margin: $standard-margin auto;
	padding: 0 $standard-margin;
	max-width:800px;
	font-size:$standard-font-size;
	line-height:$standard-line-height;
	color:$black;
	font-family:'Roboto', sans-serif;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0body15);
}

pre code {
	margin:1.5em 0;
	display:block;
}

code.html.language-html:before, code.css.language-css:before {
  display:block;
  border-bottom:1px solid #999;
  background:none;
  padding-bottom:0.1em;
  margin-bottom:0.3em;
  color:#999;
}

code.css.language-css:before {
  content:"CSS";
}

code.html.language-html:before {
  content:"HTML";
}

h1 {
	font-size:$large-font-size;
	font-weight:500;
	@include grid-media-query('palm') {
		font-size:1.4em;
	}
}
h2 {
	font-size:1.56em;
	font-weight:500;
	@include grid-media-query('palm') {
		font-size:1.0em;
	}
}
h3 {
	font-size:1.3em;
	font-weight:500;
}

hr {
	height: 1px;
	border: none;
	background-color: #ddd;
}

a:link {
	color:$light-blue;
}
a:visited {
	color:$mid-blue;
}

.top-level-full-width {
	@extend .grid;

	.centered {
		margin:0 auto;
	}
}

.header-container {
	h1 {
		text-transform: uppercase;
		font-family:'Roboto Condensed', sans-serif;
		margin:0;
		line-height:100px;
		text-indent:-4px;
		font-size:5.2em;
		@include grid-media-query('palm') {
			font-size:1.4em;
			text-indent:0;
			line-height:1;
		}
	}

	h2 {
		text-transform: uppercase;
		font-family:'Roboto Condensed', sans-serif;
		font-weight:300;
		margin:0;
		line-height:$standard-margin * 1.5;
		text-indent:0;
		letter-spacing:0.05px;
		font-size:1.68em;
		@include grid-media-query('palm') {
			line-height:auto;
			text-align:center;
			font-size:0.95em;
		}
	}
}

.top-navigation-items {
	text-align:right;
	a:link {
		font-size:64pt;
		display:inline-block;
		margin:0 ($standard-margin  * (2 / 4)) - 1;
		color:$black;
		line-height:100px;
		@include transition(color, 0.2s, ease-in-out);
		@include grid-media-query('palm') {
			font-size:1.5em;
			line-height:1;
			margin:0 $standard-margin / 4!important;
		}
	}
	a:visited {
		color:inherit;
	}
	a:hover {
		@include transition(color, 0.2s, ease-in-out);
	}

	a.nav-github {
		color:$black;
		margin-left:0;
		&:hover {
			color:darken($black, 10%);
		}
	}

	a.nav-linkedin {
		color:$linkedin-blue;
		&:hover {
			color:darken($linkedin-blue, 10%);
		}
	}

	a.nav-twitter {
		color:$twitter-blue;
		margin-right:0;
		&:hover {
			color:darken($twitter-blue, 10%);
		}
	}
}

.sub-navigation-items {

	.button {
		width:48%;
		margin-top:$standard-margin / 4;
		margin-bottom:$standard-margin / 2;

		font-size:0.8em;

		padding:0;

		text-decoration:none;

		&:last-child {
			float:right;
		}
	}
}

.hero {
	@extend .grid;

	div {
		margin-top:$standard-margin * 2;
	}

	.intro {
		line-height:28px;
	}

	.button {
		width:100%;
		margin-bottom:$standard-margin / 2;

		text-decoration:none;

		&:last-child {
			float:right;
		}
	}
}

.button {
	@include box-sizing("border");
	@include border-radius($standard-margin / 2);
	text-align:center;
	display:inline-block;
	padding:$standard-margin / 2;

	&:link, &:visited {
		color:$white;
	}

	@include transition(color, 0.2s, ease-in-out);
	@include transition(background-color, 0.2s, ease-in-out);
	@include transition(box-shadow, 0.2s, ease-in-out);
	@include box-shadow(0px, -1px, 0px, 0px, transparentize($black, 0.7), "inset");
}

.button-projects {
	background-color:$light-blue;
	color:$white;
	-webkit-text-stroke: 0px;

	&:hover {
		// background-color:$blue;
		@include transition(color, 0.2s, ease-in-out);
		@include transition(box-shadow, 0.2s, ease-in-out);
		@include box-shadow(0px, -3px, 0px, 0px, transparentize($black, 0.7), "inset");
	}
}

.button-work-with-me {
	background-color:$light-red;
	color:$white;
	-webkit-text-stroke: 0px;

	&:hover {
		// background-color:$red;
		@include transition(color, 0.2s, ease-in-out);
		@include transition(box-shadow, 0.2s, ease-in-out);
		@include box-shadow(0px, -3px, 0px, 0px, transparentize($black, 0.7), "inset");
	}
}

.button-product {
	background-color:$green;
	color:$white;
	-webkit-text-stroke: 0px;
	text-decoration:none;

	.left {
		border-right: 1px solid white;
		padding-right: 1rem;
		margin-right: 1rem;
		display: inline-block;
	}

	.right {
		display: inline-block;
	}

	&:hover {
		// background-color:$red;
		@include transition(color, 0.2s, ease-in-out);
		@include transition(box-shadow, 0.2s, ease-in-out);
		@include box-shadow(0px, -3px, 0px, 0px, transparentize($black, 0.7), "inset");
	}
}

main {
	@extend .grid;
	margin-top:$standard-margin;
}

.custom-list {
	list-style:none;
	padding-left:0;
	margin-left:0;
	li {
		text-indent:0;
		margin-left:0;
		margin-bottom:$standard-margin / 4;
		list-style:inherit;
	}
}

.post-list {
	@extend .custom-list;
	font-size:0.8em;
	.post-list-item {
		$published-date-width:140px;
		.published-date {
			display:inline-block;
			width:$published-date-width;
			margin-right:$standard-margin / 2;
			text-align:left;
			float:left;
			@include grid-media-query('palm') {
				display:block;
				margin-left:0;
				float:none;
			}
		}

		a {
			margin-left:$published-date-width + ($standard-margin / 2);
			@include grid-media-query('palm') {
				margin-left:0;
			}
			display:block;
		}
	}
}

.see-also-list {
	@extend .custom-list;

	font-size:1.4em;

	a:link {
		text-decoration:none;
	}

	.see-also-list-item {
		display:block;
		margin-bottom:$standard-margin;

		&.see-cv {
			.title, .icon {
				color:$light-red;
				-webkit-text-stroke: 0;
			}
		}

		&.see-music {
			.title, .icon {
				color:$light-blue;
				-webkit-text-stroke: 0;
			}
		}

		&.see-art {
			.title, .icon {
				color:$green;
				-webkit-text-stroke: 0;
			}
		}

		.icon {
			font-size:2em;
			display:block;
			margin-right:$standard-margin;
			width:50px;
			height:50px;
			float:left;
		}

		.title {
			display:block;
			font-size:1.1em;
			text-align:right;
		}

		.subtitle {
			display:block;
			color:$light-grey;
			-webkit-text-stroke: 0;
			font-size:0.7em;
			text-align:right;
		}
	}
}

.project-item {
	margin-top:$standard-margin;

	img {
		width:300px;
		height:300px;
	}
}

.project-item-description {
	@extend .grid__item;
	@extend .five-eighths;
	@extend .palm--one-whole;
}

.post {
	@extend .grid__item;
	@extend .one-whole;

	h1 {
		margin-top:0.27em;
		margin-bottom:0;
		line-height:$large-font-size * 0.8;
	}

	.meta {
		font-size:0.8em;
		margin-top:$standard-margin / 6;
	}

	.intro {
		color:$light-grey;
	}
}

.post-navigation {
	border-top: 1px dotted #ddd;
	padding-top:1rem;
	margin:0
}


.end-of-post-cta {
	margin: 24px auto;
}

.end-of-post-cta input {
	padding: 0.5rem 0.4rem;
	font-size: 1rem;
}

.end-of-post-cta input[type="submit"] {
	padding: 0.6rem 0.4rem;
}

@import 'syntax.scss';
