/*
Syntax error: Invalid CSS after "	color": expected ";", was ":$white;"
        on line 225 of scss/main.scss

220: 	@include box-shadow(0px, -1px, 0px, 0px, transparentize($black, 0.7), "inset");
221: }
222: 
223: .button-projects {
224: 	background-color:$light-blue 
225: 	color:$white;
226: 	-webkit-text-stroke: 0px;
227: 
228: 	&:hover {
229: 		// background-color:$blue;
230: 		@include transition(color, 0.2s, ease-in-out);

Backtrace:
scss/main.scss:225
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1306:in `expected'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1242:in `expected'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1237:in `tok!'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:687:in `block in declaration_or_ruleset'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1282:in `call'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1282:in `rethrow'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:655:in `block_child'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:636:in `block'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:629:in `ruleset'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:654:in `block_child'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/engine.rb:409:in `_to_tree'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/engine.rb:274:in `render'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `each'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.6.2/lib/listen/listener.rb:143:in `call'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.6.2/lib/listen/listener.rb:143:in `block in _wait_for_changes'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.6.2/lib/listen/listener.rb:138:in `loop'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.6.2/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/dan/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.6.2/lib/listen/listener.rb:43:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	color\": expected \";\", was \":$white;\"\A         on line 225 of scss/main.scss\A \A 220: 	@include box-shadow(0px, -1px, 0px, 0px, transparentize($black, 0.7), \"inset\");\A 221: }\A 222: \A 223: .button-projects {\A 224: 	background-color:$light-blue \A 225: 	color:$white;\A 226: 	-webkit-text-stroke: 0px;\A 227: \A 228: 	&:hover {\A 229: 		// background-color:$blue;\A 230: 		@include transition(color, 0.2s, ease-in-out);"; }
