// Primary Colours

$main-blue:			#547AB0;
$main-green:		#2CAF34;
$main-red:			#F75A49;

// Misc Colours
$black:#222;
$grey:#4A4A4A;
$lighter-grey:#D0D0D0;
$lightest-grey:#ECECEC;
$white:#fefefe;

// Brand Colours
$twitter-blue:#55ACEE;
$linkedin-blue:#4875B4;
$spotify-green:#1DB854;

// $blue:#223249;
// $mid-blue:lighten($blue, 15%);
// $light-blue:lighten($blue, 30%);
// $light-red:#F75A49;
// $red:darken($light-red, 30%);
// $light-grey:lighten($black, 40%);
// $off-white:lighten($black, 70%);
// $green:#2CAF34;
// $light-green:lighten($green, 30%);