* {
	box-sizing:border-box;
}

html {
	font-size:$root-font-size;
	@media only screen and (max-width : 320px) {
		font-size:$smartphone-root-font-size;
	}
	font-family:'Roboto';
	margin:0;
}

body {
	// max-width:$max-centered-page-width;
	width:100%;

	@media (max-width: ($max-centered-page-width + $root-font-size)) {
		header, .article-content {
			padding-left:$standard-margin;
			padding-right:$standard-margin;
		}
	}
}

header {
	padding-top:$small-margin;
	padding-left:$standard-margin;
	padding-right:$standard-margin;
	margin-right:$large-margin;
	margin-bottom:$standard-margin;
	border-bottom:1px solid $lighter-grey;

	width:100%;

	@media (max-width: 1000px) {
		max-width:$max-centered-page-width;
		margin:0 auto $standard-margin auto;
		padding-top:$small-margin;
		padding-left:0;
		padding-right:0;
	}

	@media (max-width: 515px) {
		text-align: center;
		.pull-right {
			float:none;
		}
	}

	.nav-list {
		margin-bottom:$small-margin;
	}

	.nav-list.pull-right {
		@media (max-width: 515px) {
			clear:both;
		}
	}
}

.hide-handheld {
	@media (max-width: 360px) {
		display:none;
	}
}

a {
	font-weight:600;
	text-decoration:none;
	&:link {
		color:$main-blue;
	}

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color:darken($main-blue, 20%);
	}

	&.external {
		color:$main-green;
	}
}

hr {
	max-width:$max-centered-page-width;
	height:1px;
	margin:$large-margin auto;
	height:1px;
	border-color:$lightest-grey;
	background:$lightest-grey;
	font-size:0;
	border:0;
}

.checkmarks {
	ul {
		padding-left:$standard-margin;
		list-style: none;
		list-style-position:outside;

		li:before {
			content:'✔'; 
			margin-left:-0.9rem;
			// margin-right:$small-margin;
		}
	}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}