---
layout: default
---

<progress value="0"></progress>
<article class="article">
	<main class="article-content">
		<header>
			<h1 id="top">{{ page.title }}</h1>
			<p class="meta">
				<span>Published {{ page.date_created }} in {{ page.location }}</span>
				{% if page.time_to_read_estimate %}
				<span class="meta-reading-time" title="It took me about {{ page.time_to_read_estimate }} minutes to read this blog post back to myself.">(~{{ page.time_to_read_estimate }}min read)</span>
				{% endif %}
			</p>
			<p style="color:#656c7a;font-size:0.8em">
				Hi 👋 Welcome to my busking blog. If you wanna know more about my adventures visit <a href="/busking">the main busking page</a>, or subscribe on my <a href="https://youtube.com/danhough">YouTube channel</a>, my <a href="https://www.facebook.com/thedanhough/">My Facebook Page</a>, or <a href="https://twitter.com/basicallydan">Twitter</a>.
			</p>
		</header>
		{{ content }}
		<p>Heckle me on Twitter <a href="http://twitter.com/basicallydan">@basicallydan</a>.</p>
	</main>
	<footer class="article-footer cf">
		<main class="article-footer-content cf">
			<div class="article-footer-contact">
				<span>Think we could work together?</span>
				<a href="/contact" class="cta--primary" data-segment='{ "name" : "Contact CTA Clicked", "location" : "Post: {{ page.title }}" }'>Get in touch.</a>
			</div>
			<div class="article-footer-subscribe">
				<span>Get more in your inbox.</span>
				<form action="//danhough.us8.list-manage.com/subscribe/post?u=fb767a2592dd6490ca38c324b&amp;id=2e88f8cc04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate one-line-form large" target="_blank" novalidate>
					<input placeholder="you@domain.com" type="email" value="" name="EMAIL" class="required email" data-segment='{ "name" : "Subscribe Input Clicked", "location" : "Post: {{ page.title }}" }' id="mce-EMAIL">
					<input class="submit-email fa-button cta--secondary square-padding" type="submit" value="Subscribe." data-segment='{ "name" : "Subscribe CTA Clicked", "location" : "Post: {{ page.title }}" }'>
				</form>
			</div>
			<div class="article-footer-meta">
				{% include recent-posts.html %}
				{% include disqus.html %}
			</div>
		</main>
	</footer>
</article>

<script type="text/javascript" src="/js/post.js"></script>