<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="author" content="Daniel Hough" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		{% endif %}
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="alternate" type="application/atom+xml" title="ATOM Feed for danielhough.co.uk" href="/atom.xml" />
		<title>{% if page.title %}{{ page.title }} — Dan Hough — Independent Software Developer{% else %}Dan Hough — Independent Software Developer{% endif %}</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="/img/meta/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/img/meta/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/img/meta/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/img/meta/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/img/meta/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/img/meta/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/img/meta/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/img/meta/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/img/meta/apple-touch-icon-152x152.png" />
		<link rel="stylesheet" type="text/css" href="/scss/main.css">
		<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
	</head>

	<body>
		<div class="top-level-full-width header-container">
			<a href="/"><h1 class="grid__item five-eighths palm--one-half lap--one-half" title="It's prounounced 'Huff'">Dan Hough</h1></a><!--

	   --><div class="grid__item three-eighths top-navigation-items palm--one-half lap--one-half">
				<a href="https://github.com/basicallydan" class="nav-github" target="_blank" data-segment='{ "name" : "GitHub Link Clicked", "location" : "Top Nav" }'><i class="fa fa-github-alt"></i></a>
				<a href="http://www.linkedin.com/pub/daniel-hough/14/202/801" class="nav-linkedin" target="_blank" data-segment='{ "name" : "LinkedIn Link Clicked", "location" : "Top Nav" }'><i class="fa fa-linkedin"></i></a>
				<a href="https://twitter.com/basicallydan" class="nav-twitter" target="_blank" data-segment='{ "name" : "Twitter Link Clicked", "location" : "Top Nav" }'><i class="fa fa-twitter"></i></a>
			</div><!--
		
		--><h2 class="grid__item five-eighths palm--one-whole lap--one-whole">Independent software developer</h2><!--

		-->{% if page.hide_sub_nav %}{% else %}<div class="sub-navigation-items grid__item three-eighths palm--one-whole lap--one-whole">
				<a href="/projects" class="button button-projects" data-segment='{ "name" : "Projects Button Clicked", "location" : "Sub Top Nav" }'>Projects</a>
				<a href="/contact" class="button button-work-with-me" data-segment='{ "name" : "Contact Button Clicked", "location" : "Sub Top Nav" }'>Work with me</a>
			</div>{% endif %}
		</div>

		{{ content }}

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
