---
layout: default
---

<style type="text/css">
	.end-of-post-cta {
		margin: 24px auto;
	}

	.end-of-post-cta input {
		padding: 0.5rem 0.4rem;
		font-size: 1rem;
	}

	.end-of-post-cta input[type="submit"] {
		padding: 0.6rem 0.4rem;
	}
</style>

<div class="body">
	<div class="post">
		<h1 id="top">{{ page.title }}</h1>
		<p class="meta">Published {{ page.date_created }} in {{ page.location }}</p>
		{{ content }}
		<hr style="height:3px">
		<p>Heckle me on Twitter <a href="http://twitter.com/basicallydan">@basicallydan</a>.</p>
		<div class="end-of-post-cta">
			<p>Get more posts like this in your inbox:</p>
			<form action="//danhough.us8.list-manage.com/subscribe/post?u=fb767a2592dd6490ca38c324b&amp;id=2e88f8cc04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input placeholder="you@domain.com" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				<input class="submit-email" type="submit" value="Subscribe">
			</form>
		</div>
		{% include recent-posts.html %}
		{% include disqus.html %}
	</div>
</div>

<script type="text/javascript">
	var typed = false;
	var typeHandler = function() {
		var segmentData = {
			location: 'Blog Post: {{ page.title }}'
		};
		var eventName = 'Typed into email subscription';
		$('#mc-embedded-subscribe-form .email').unbind('keydown', typeHandler);
	};
	$('#mc-embedded-subscribe-form .email').bind('keydown', typeHandler);

	var submitHandler = function() {
		var segmentData = {
			location: 'Blog Post: {{ page.title }}'
		};
		var eventName = 'Submitted email subscription';
		$('#mc-embedded-subscribe-form').unbind('click', submitHandler);
	};

	$('#mc-embedded-subscribe-form').bind('submit', submitHandler);
</script>