---
layout: default
---

<main>
	<div>
		<div class="grid__item five-eighths palm--one-whole lap--one-whole">
			{{ content }}
		</div><!--

		--><div class="grid__item three-eighths palm--one-whole lap--one-whole">
			<h2>See also</h2>
			<ul class="see-also-list">
				<li class="see-also-list-item see-cv"><a href="/dan-hough-developer-cv-latest.pdf" data-segment='{ "name" : "CV Link Clicked", "location" : "{{ page.title }} Sidebar" }'>
					<i class="fa fa-check icon"></i><span class="title">My CV</span><!--
					--><span class="subtitle">.pdf format</span>
				</a></li>
				<li class="see-also-list-item see-music"><a href="https://danplusadd.co.uk" data-segment='{ "name" : "Music Link Clicked", "location" : "{{ page.title }} Sidebar" }'>
					<i class="fa fa-music icon"></i><span class="title">My Music</span><!--
					--><span class="subtitle">I'm a busker</span>
				</a></li>
				<li class="see-also-list-item see-art"><a href="http://danhough.deviantart.com/" data-segment='{ "name" : "Art Link Clicked", "location" : "{{ page.title }} Sidebar" }'>
					<i class="fa fa-picture-o icon"></i><span class="title">My Art</span><!--
					--><span class="subtitle">I'm improving</span>
				</a></li>
			</ul>
		</div>
	</div>
</main>